	<!-- jQuery -->
	<div class="modal" id="trip-info-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div id='model-content'>
				</div>
				<div class="modal-footer justify-context-between">
					<button type="button" class="btn btn-info" onclick="contactUs()">Contact
						Us</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>