<footer>
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <!-- <p class="fh5co-social-icons">
                            <a href=""><i class="icon-twitter2"></i></a>
                            <a href="mailto:info@ckflyers.com?Subject=Information%20Reguarding%20Package"><i class="icon-google"></i></a>
                            <a href=""><i class="icon-facebook2"></i></a>
                            <a href=""><i class="icon-instagram"></i></a>
                            <!-- <a><i class="icon-youtube"></i></a> -->
                    </p> -->
                    <p>
                        Email: <a href="mailto:info@ckflyers.com?Subject=Information%20Reguarding%20Package">info@ckflyers.com</a>
                        Mobile: (+91) 99987-73400, 9408336076
                    </p>
                    <p>
                        Address: 117, Western Arena, near madhuvan circle, green city road, pal-adajan, Surat-395009
                    </p>
                    <p>© 2018 All rights reserved by CK Flyers</p>
                </div>
            </div>
        </div>
</footer>