<header id="fh5co-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a class="js-fh5co-nav-toggle fh5co-nav-toggle dark"></a>
            <img src="images/logo.png" height="100" width="200">



            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                    <li class="active" id='home'><a href="index.html">Home</a></li>
                    <!-- <li><a href="#fh5co-tours">About Us</a></li> -->
                    <li id='packages-tab'>
                        <a href="/#packages">Packages</a>
                        <!-- <ul class="fh5co-sub-menu">
                            <li>
                                <a href="/honeymoon">Honeymoon</a>
                                <ul class="fh5co-sub-menu honeymoonDestinations">
                                </ul>
                            </li>
                            <li>
                                <a href="/family" title="view all">Family Travel</a>
                                <ul class="fh5co-sub-menu familyTravelDestinations">
                                </ul>
                            </li>
                            <li>
                                <a href="/historical">Historical</a>
                                <ul class="fh5co-sub-menu historicalDestinations">
                                </ul>
                            </li>
                            <li>
                                <a href="/adventure">Adventure</a>
                                <ul class="fh5co-sub-menu adventureDestinations">
                                </ul>
                            </li>
                        </ul> -->
                    </li>
                    <li id='contact-us'><a href="/contact">Contact Us</a></li>

                </ul>

            </nav>
        </div>
    </div>
</header>